@page "/inventory"

<AppTitle Title="Lagerlista" />

<div class="row mb-3">
    <div class="col">
        <KPICard Text="Artiklar i sortiment"
                 KeyPerformanceValue="@KeyPerformanceIndicators.ProductCount"
                 SmallText="st"
                 DisplayFormat="DisplayFormat.Number"
                 Color="BootstrapColor.Success"
                 Icon="@BootstrapIcons.BoxSeam" />
    </div>
    <div class="col">
        <KPICard Text="Totalt lagervärde"
                 KeyPerformanceValue="@KeyPerformanceIndicators.InventoryValue"
                 DisplayFormat="DisplayFormat.Currency"
                 Color="BootstrapColor.Success"
                 Icon="@BootstrapIcons.Coin" />
    </div>
    <div class="col">
        <KPICard Text="Lågt lagersaldo"
                 KeyPerformanceValue="@KeyPerformanceIndicators.LowStockProductCount"
                 SmallText="st"
                 DisplayFormat="DisplayFormat.Number"
                 Color="BootstrapColor.Danger"
                 Icon="@BootstrapIcons.ExclamationTriangle" />
    </div>
</div>
<div class="mb-3" style="max-width: 400px;">
    <div class="input-group">
        <span class="input-group-text bg-white border-end-0">
            <i class="bi bi-search text-muted"></i>
        </span>
        <input type="text" class="form-control border-start-0" placeholder="Sök på namn eller art.nr..." value="@Parameters.SearchTerm" @oninput="OnSearchInput"/>
    </div>
</div>
@if (Products is null || Products.Count == 0)
{
    <p>Inga produkter hittades.</p>
}
else
{
    <table class="table table-bordered shadow-sm">
        <thead class="table-dark">
            <tr>
                <th>Art.nr</th>
                <th>Namn</th>
                <th>Kategori</th>
                <th>Saldo</th>
                <th>Pris</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Products)
            {
                <tr class="@(product.Quantity <= product.MinStockLevel ? "table-danger" : "")">
                    <td>@product.SKU</td>
                    <td>@product.Name</td>
                    <td>@product.Category</td>
                    <td>
                        <div class="d-flex">
                            <span class="me-auto">@product.Quantity</span>
                            <div>
                                <button class="btn btn-danger btn-sm" @onclick="() => DecreaseQuantity(product.Id)" disabled="@(product.Quantity <= 0)">
                                    <i class="bi bi-dash-circle"></i>
                                </button>
                                <button class="btn btn-success btn-sm" @onclick="() => IncreaseQuantity(product.Id)">
                                    <i class="bi bi-plus-circle"></i>
                                </button>
                            </div>
                        </div>
                    </td>
                    <td>@product.Price.ToString("C")</td>
                </tr>
            }
        </tbody>
    </table>
    <nav>
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="/">Previous</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="/">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="/">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="/">3</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="/">Next</a>
            </li>
        </ul>
    </nav>
}