@page "/inventory"

<AppTitle Title="Lagerlista" />

@if (Products is null || Products.Count == 0)
{
    <p>Det finns inga produkter i lager.</p>
}
else
{
    <div class="row mb-3">
        <div class="col">
            <KPICard 
                Text="Artiklar i sortiment" 
                KeyPerformanceValue="@KeyPerformanceIndicators.ProductCount" 
                SmallText="st"
                DisplayFormat="DisplayFormat.Number"
                Color="BootstrapColor.Success" 
                Icon="@BootstrapIcons.BoxSeam" />
        </div>
        <div class="col">
            <KPICard 
                Text="Totalt lagervärde" 
                KeyPerformanceValue="@KeyPerformanceIndicators.InventoryValue"
                DisplayFormat="DisplayFormat.Currency"
                Color="BootstrapColor.Success"
                Icon="@BootstrapIcons.Coin" />
        </div>
        <div class="col">
            <KPICard 
                Text="Lågt lagersaldo" 
                KeyPerformanceValue="@KeyPerformanceIndicators.LowStockProductCount" 
                SmallText="st" 
                DisplayFormat="DisplayFormat.Number"
                Color="BootstrapColor.Danger" 
                Icon="@BootstrapIcons.ExclamationTriangle" />
        </div>
    </div>
    <table class="table table-bordered shadow-sm">
        <thead class="table-dark">
            <tr>
                <th>Art.nr</th>
                <th>Namn</th>
                <th>Kategori</th>
                <th>Saldo</th>
                <th>Pris</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Products)
            {
                <tr class="@(product.Quantity <= product.MinStockLevel ? "table-danger" : "")">
                    <td>@product.SKU</td>
                    <td>@product.Name</td>
                    <td>@product.Category</td>
                    <td>
                        <div class="d-flex">
                            <span class="me-auto">@product.Quantity</span>
                            <div>
                                <i class="bi bi-plus-circle text-success fs-5 cursor-pointer" @onclick="() => IncreaseQuantity(product.Id)"></i>
                                <i class="bi bi-dash-circle text-danger fs-5 cursor-pointer" @onclick="() => DecreaseQuantity(product.Id)"></i>
                            </div>
                        </div>
                    </td>
                    <td>@product.Price.ToString("C")</td>
                </tr>
            }
        </tbody>
    </table>
}