@page "/inventory"

<AppTitle Title="Lagerlista" />

@if (Products is null || Products.Count == 0)
{
    <p>Det finns inga produkter i lager.</p>
}
else
{
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Art.nr</th>
                <th>Namn</th>
                <th>Kategori</th>
                <th>Saldo</th>
                <th>Pris</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Products)
            {
                <tr>
                    <td>@product.SKU</td>
                    <td>@product.Name</td>
                    <td>@product.Category</td>
                    <td>@product.Quantity</td>
                    <td>@product.Price.ToString("C")</td>
                </tr>
            }
        </tbody>
    </table>
}