@page "/inventory"

<AppTitle Title="Lagerlista" />

@if (Products is null || Products.Count == 0)
{
    <p>Det finns inga produkter i lager.</p>
}
else
{
    <div class="row mb-3">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5>Antal artiklar: @KeyPerformanceIndicators.ProductCount st</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5>Totalt lagervärde: @KeyPerformanceIndicators.InventoryValue.ToString("C")</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5>Produkter med lågt saldo: @KeyPerformanceIndicators.LowStockProductCount st</h5>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Art.nr</th>
                <th>Namn</th>
                <th>Kategori</th>
                <th>Saldo</th>
                <th>Pris</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Products)
            {
                <tr>
                    <td>@product.SKU</td>
                    <td>@product.Name</td>
                    <td>@product.Category</td>
                    <td>@product.Quantity</td>
                    <td>@product.Price.ToString("C")</td>
                </tr>
            }
        </tbody>
    </table>
}